@charset "utf-8";
html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: '微软雅黑';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}
b,
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
a,
u {
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  display: block;
}
input,
fieldset {
  outline: none;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 1;
  border: 1px;
}
li {
  list-style: none;
}
/*版心*/
.main {
  width: 1200px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fw900 {
  font-weight: 700;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
.m-l10 {
  margin-left: 10px;
}
.m-r10 {
  margin-right: 10px;
}
header {
  height: 70px;
  background-color: #ffffff;
  position: relative;
}
header .ret {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 10px;
  border: none;
  top: 20px;
  left: 50px;
  position: absolute;
}
header .ret a {
  display: block;
  margin-top: -5px;
  color: white;
  font-size: 30px;
  font-weight: 600;
}
header .nav {
  display: flex;
  justify-content: center;
}
header .nav span {
  display: block;
  margin-right: 10px;
}
header .nav span img {
  width: 100px;
  padding-top: 10px;
}
header .nav .sCar {
  font-size: 30px;
  font-weight: 900;
  padding-top: 20px;
  color: #ff5740;
}
section table {
  margin: 50px auto 5px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #999999;
}
section table tr {
  border: 1px solid #999999;
}
section table tr .dele button {
  background-color: #e6dddd;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  border: 1px solid white;
  outline: 0;
}
section table tr .dele button:hover {
  color: #fff;
  background-color: #ff5740;
}
section table tr .img_shop {
  width: 80px;
  margin: 10px auto;
}
section table tr td {
  border: 1px solid #999999;
}
section table tr td h4 {
  font-size: 18px;
  font-weight: 700;
}
section table tr td .number {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section table tr td .number div {
  width: 30px;
  height: 20px;
}
section table tr td .number .desymbol {
  width: 20px;
  background-color: #e6dddd;
  border-radius: 20px;
  color: #000000;
  line-height: 20px;
}
section table tr td .number .desymbol:hover {
  background-color: #ff5740;
  color: white;
}
section table tr td .number .adsymbol:hover {
  background-color: #ff5740;
  color: white;
}
section table tr td .number .acc {
  background-color: #fff;
  border: 1px solid #999999;
}
section table tr td .number .adsymbol {
  width: 20px;
  background-color: #e6dddd;
  border-radius: 20px;
  color: #000;
  line-height: 20px;
}
section table tr .goods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0 solid #999999;
  font-size: 20px;
  margin-top: 35px;
}
section table tr .goods img {
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: 20px 0 20px 0px;
  border: 1px solid #999999;
}
form {
  width: 1000px;
  margin: 30px auto;
}
form #settlement {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-left: 58px;
}
form #settlement .qSele {
  width: 400px;
}
form #settlement .qSele .allSelect {
  margin-right: 10px;
}
form #settlement .qCoun {
  text-align: center;
  width: 200px;
}
form #settlement .qCoun #NumofGoods {
  color: red;
}
form #settlement .qGet {
  width: 150px;
  font-size: 22px;
  font-weight: 700;
}
form #settlement .qGet #addupto {
  color: red;
}
form #settlement .elJs {
  width: 50px;
  height: 30px;
  background: #ff5740;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
form #settlement .elJs a {
  color: #fff;
}
